body {
    border: none;
    margin: 0px;
}
.topmenu {
    background-color: dimgrey;
    width: 100%;
    height: 50px;
    padding: 5px;
}

header {
    width: 15%;
}

#header1 {
    float: left;
}

#header2 {
    float: right;
}

#header1 img, .follow-us img {
    width: 173px;
    height: 45px;
    vertical-align: middle;
}

#header2 img {
    width: 16px;
    height: 11px;
    padding: 2px;
    padding-top:20px;
}

nav {
    width: 70%;
    float: left;
    vertical-align: middle;
    text-align: justify;
    color: white
}

.maincontent {
    background-color: whitesmoke;
    width: 100%;
    height: 500px;
    padding: 5px;
    display: flex;
}
section img{
    width:100%;
    display:inline-block;
}
.pr-block{
    
    margin-left:280px;
}
.pr {
    width: 980px;
    height: 166px;
    display:flex;
    justify-content: space-between;
}
.pr img{
    width:300px;
    height:130px;
}

.bottommenu {
    width: 100%;
}

.NewsRegister {
    background-color: lightgray;
    height: 150px;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

#gioi-thieu {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 350px;
    line-height: 24px;
    text-align: justify;
    font-family: Arial;
    font-size: 15px;
}

#logo img{
    width:50px;
    height:50px;
}
.follow-us{
    order:1;
}
.information{
    padding-left:60px;
    order:2;
}
.list{
    list-style-type:none;
    float:left;
}
a{
    text-decoration:none;
    color:dimgrey;
}
.list li{
    font-size:13px;
    line-height:25px;
    margin-left:-37px;
}
.policy {
    margin-right:80px;
    order:3;
}

footer {
    background-color: black;
    padding: 80px;
    height: 500px;
    vertical-align: top;
    text-align: left;
    color: white;
}

